/* * {
  font-family: "Poppins", sans-serif;
}

.bg-primary {
  background-color: #eff1f1 !important;
}

.active {
  background-color: #fddac9 !important;
  font-weight: 500;
  color: #f3560d !important;
}

.divider {
  color: #a6a6a6;
}

.sidebar {
  margin: 14px 0 0 14px;
  border-radius: 30px;
  height: 96vh;
}

.avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.nav-link {
  color: #5a5a5a;
}

.sidebar .nav-link:hover {
  color: #f06324 !important;
}

.btn-logout:hover {
  color: #f06324 !important;
}

.addon-menu .nav-link {
  font-size: 14px;
}

.menu-title {
  font-size: 24px;
  font-weight: bold;
}

.search-box {
  border-radius: 10px;
} */
